body {
  background: #f7f7fa;
  font-family: sspRegular;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.freecharge-logo {
  width: 150px;
  height: 40px;
}
.header-right-handpart {
  display: flex;
}
.login-img {
  width: 39px;
  height: 39px;
}
.login-para {
  color: #e3714d;
  cursor: pointer;
  font-family: sspRegular;
  font-size: 1em;
  margin-left: 10px;
  text-transform: capitalize;
  font-size: 1.143em;
  margin-top: 11px;
}
.bootom-left {
  padding: 17px;
  background-color: white;
  width: fit-content;
  border-radius: 10px;
  margin-left: 16px;
  height: 456px;
  position: fixed;
  margin-top: 40px;
}
.left-child {
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.left-child-nested {
  gap: 16px;
  display: flex;
  align-items: center;
  padding: 12px;
  width: 170px;

  border-radius: 12px;
  color: rgba(34, 34, 34, 0.76);
}
.left-child-nested-1 {
  background-color: rgba(227, 113, 78, 0.06);
}
.letf-side-img {
  width: 26px;
  height: 26px;
}

#container {
  width: 52%;
  height: 493px;
  margin-left: 457px;
  position: relative;
  /* background-color: black; */
  box-shadow: 0px 3px 28px -6px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px 3px 28px -6px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px 3px 28px -6px rgba(0, 0, 0, 0.75) inset;
}
.headers {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-top: 43px;
  padding: 10px;
}

.heading {
  position: relative;
  font-size: 21px;
  left: 15px;
  top: 8px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.h2 {
  text-align: center;
  padding: 35px;
  font-size: 23px;
  color: #325b83;
  padding-bottom: 11px;
}
input {
  padding: 20px;
  margin-left: 105px;
  outline: none;
  border-radius: 38px;
  border: none;
}
#btn {
  position: relative;
  top: 100px;
  right: 133px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background: darkblue;
  border: none;
  color: white;
}
#demo {
  font-size: 39px;
  position: relative;
  right: -316px;
  top: 134px;
  color: #325b83;
}
#s1 {
  position: relative;
  top: -49px;
  left: -234px;
  color: red;
}
#inputBox {
  margin-left: 250px;
  border: 1px solid #cfcfec;
  text-align: center;
}
